* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: #fff;
}

header {
  width: 1440px;
  height: 88px;
  padding: 24px 167px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.logo {
  color: #6d758f;
  width: 79px;
  height: 20px;
  font-family: Poppins;
  font-weight: 700;
  font-size: 28px;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.headerRight {
  width: 558px;
  height: 40px;
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: space-between;
}

.navList {
  display: flex;
  width: 302px;
  height: 15px;
  gap: 24px;
}

.navlink {
  display: flex;

  gap: 6px;
  height: 12px;
  text-decoration: none;
  color: #000;
  font-size: 12px;
}

.navlinkText {
  height: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-decoration: none;
  color: #000;
}

.icon-container {
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
}

.chevron-down {
  width: 8.25px;
  height: 4.44px;
  top: 9.22px;
  left: 2.88px;
  display: inline-block;
  border-right: 1.12px solid #6d758f;
  border-bottom: 1.12px solid #6d758f;
  transform: rotate(45deg);
  box-sizing: border-box;
}

.buttonRow {
  width: 224px;
  height: 40px;
  display: flex;
  gap: 16px;
}

.buttonRow .primary {
  width: 134px;
  height: 40px;
  padding: 14px 18px;
  gap: 3px;
  border-radius: 6px;
  background: #6d758f;
  box-shadow: 0px 1px 4px 0px #19213d14;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  display: flex;
}

.buttonRow .secondary {
  width: 74px;
  height: 40px;
  padding: 15px 18px;
  gap: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: #e1e4ed;
  border-radius: 6px;
  background: #f8faff;
  color: #6d758f;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  display: flex;
}

.buttonRow .secondary .btnText {
  font-family: Inter;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  color: #6d758f;
}

.buttonRow .primary .btnText {
  font-family: Inter;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
}

.arrowContainer {
  width: 12px;
  height: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  width: 8.4px;
  height: 8.24px;
  background: #ffffff;
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
}

.section {
  width: 1440px;
  height: 746px;
  padding: 110px 80px;
  gap: 80px;
  background: #f1f3f7;

  display: flex;
  justify-content: center; /* center content horizontally */
  align-items: center; /* center content vertically */
}

.content {
  width: 1280px;
  height: 526px;
  padding: 80px 0;
  gap: 64px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.sectionText {
  width: 1280px;
  height: 246px;
  gap: 48px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.top {
  width: 1280px;
  height: 123px;
  gap: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainHeadline {
  width: 1280px;
  height: 123px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 54px;
  line-height: 110%;
  letter-spacing: 0%;
  text-align: center;
  color: #6d758f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paragraph {
  width: 1280px;
  height: 75px;

  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
  color: #6d758f;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.buttonGroup {
  width: 450px;
  height: 56px;
  gap: 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
}

.button1 {
  width: 204px;
  height: 56px;
  padding: 16px;
  border-radius: 6px;
  background: #6d758f;
  border: 2px solid #6d758f;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0;
  text-align: center;
}

.text1 {
  width: 172px;
  height: 20px;
  padding-left: 16px;
  padding-right: 16px;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button2 {
  width: 230px;
  height: 56px;
  padding: 16px;
  border-radius: 6px;
  background: transparent;
  border: 2px solid #6d758f;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0;
  color: #6d758f;
  text-align: center;
}

.text2 {
  width: 198px;
  height: 20px;
  padding-left: 16px;
  padding-right: 16px;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroV1 {
  width: 1440px;
  height: 652px;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
  padding-right: 167px;
  padding-bottom: 100px;
  padding-left: 167px;
  background: #ffffff;
  display: flex;
}

.gridHerov1 {
  width: 467px;
  height: 215px;
  display: block;
}

.imageHeroV1 {
  width: 542px;
  height: 452px;
  border-radius: 8px;
}

.heroHeading {
  width: 467px;
  height: 83px;
  font-family: Inter;
  font-weight: 800;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0%;
  color: #6d758f;
}

.spacer1 {
  width: 24px;
  height: 24px;
  opacity: 0;
}

.spacer1Text {
  width: 17px;
  height: 9px;
  top: 7px;
  left: 4px;
  font-family: Inter;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 8%;
  text-align: center;
  text-transform: uppercase;
  color: #6d758f;
}

.spacer1Px {
  width: 24px;
  height: 24px;
  border-width: 1px;
  background: #f1f3f7;
  border: 1px solid #6d758f;
}

.heroV1Para {
  width: 467px;
  height: 36px;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #6d758f;
}

.spacer2 {
  width: 32px;
  height: 32px;
  opacity: 0;
}

.spacer2Text {
  width: 17px;
  height: 9px;
  top: 11.5px;
  left: 8px;
  font-family: Inter;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 8%;
  text-align: center;
  text-transform: uppercase;
  background: #6d758f;
}

.spacer2Px {
  width: 32px;
  height: 32px;
  border-width: 1px;
  background: #f1f3f7;
  border: 1px solid #6d758f;
}

.heroV1Button {
  width: 258px;
  height: 40px;
  gap: 16px;
  display: flex;
}

.herov1PrimaryButton {
  width: 129px;
  height: 40px;
  padding-top: 14px;
  padding-right: 18px;
  padding-bottom: 14px;
  padding-left: 18px;
  gap: 3px;
  border-radius: 6px;
  background: #6d758f;
  box-shadow: 0px 1px 4px 0px #19213d14;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.herov1PrimaryButtonText {
  width: 78px;
  height: 10px;
  font-family: Inter;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
  text-align: center;
}

.heroV1SecondaryButton {
  width: 113px;
  height: 40px;
  padding-top: 15px;
  padding-right: 18px;
  padding-bottom: 15px;
  padding-left: 18px;
  gap: 3px;
  border-width: 1px;
  border-radius: 6px;
  background: #f8faff;
  border: 1px solid #e1e4ed;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.heroV1SecondaryButtonText {
  width: 77px;
  height: 10px;
  font-family: Inter;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  color: #6d758f;
  text-align: center;
}

.buttonRow .primary,
.buttonRow .secondary,
.herov1PrimaryButton,
.heroV1SecondaryButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonRow .primary .btnText,
.buttonRow .secondary .btnText,
.herov1PrimaryButtonText,
.heroV1SecondaryButtonText {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.imageHeroV1 {
  width: 542px;
  height: 452px;
  border-radius: 8px;
  background: #f1f3f7;
  position: relative;
}

.iconSquare {
  width: 66px;
  height: 66px;
  position: absolute;
  top: 193px;
  left: 238px;
  border: 2.12px solid #6d758f;
  border-radius: 5.5px;
  background: #f1f3f7;
}

.userIcon {
  width: 27.08px;
  height: 28.87px;
  position: absolute;
  top: 18.56px;
  left: 19.46px;
}

.userVector1 {
  width: 27.08px;
  height: 10.45px;
  position: absolute;
  top: 18.56px;
  background: #8dc1ff;
  border: 1.69px solid #2388ff;
}

.userVector2 {
  width: 12.94px;
  height: 12.94px;
  position: absolute;
  top: 0;
  left: 7.07px;
  background: #ffffff;
  border: 1.69px solid #2388ff;
  border-radius: 50%;
}

.gridLines {
  width: 68.82px;
  height: 68.82px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gridLine {
  position: absolute;
  background: #b4b9c9;
}

.horizontal {
  width: 68.82px;
  height: 1.37px;
}

.vertical {
  width: 1.37px;
  height: 68.82px;
}

.line-h1 {
  top: 11.56px;
}
.line-h2 {
  top: 22.98px;
}
.line-h3 {
  top: 34.41px;
}
.line-h4 {
  top: 45.83px;
}
.line-h5 {
  top: 57.25px;
}

.line-v1 {
  left: 11.56px;
}
.line-v2 {
  left: 22.98px;
}
.line-v3 {
  left: 34.41px;
}
.line-v4 {
  left: 45.83px;
}
.line-v5 {
  left: 57.25px;
}

/* Main Container */
.stats {
  width: 1440px;
  height: 679px;
  padding: 100px 167px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Heading Section */
.statHeading {
  width: 427px;
  height: 86px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.statHeadingTitle {
  width: 427px;
  height: 26px;
  font-family: Inter;
  font-weight: 800;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0%;
  color: #6d758f;
}

.statHeadingSpacer {
  width: 24px;
  height: 24px;
  opacity: 0;
}

.statHeadingSpacerpx {
  width: 24px;
  height: 24px;
  border: 1px solid #6d758f;
}

.statHeadingPara {
  width: 418.7px;
  height: 36px;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #6d758f;
}

/* Spacer Elements */
.statSpacer {
  width: 32px;
  height: 32px;
  opacity: 0;
}

.statSpacerPx {
  width: 32px;
  height: 32px;
  background: #f1f3f7;
  border: 1px solid #6d758f;
}

/* Main Stats Container */
.statContainer {
  width: 1106px;
  height: 361px;
  padding: 64px;
  background: #6d758f;
  border: 1px solid #e1e4ed;
  border-radius: 10px;
  box-shadow: 0px 1px 4px rgba(25, 33, 61, 0.08);
  display: flex;
  justify-content: center;
  align-items: center;
}

.statContainerStats {
  width: 978px;
  height: 233px;
  gap: 22px;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.statList {
  width: 311.33px;
  height: 233px;
  padding: 32px 24px;
  border: 1px solid #b4b9c9;
  border-radius: 10px;
  box-shadow: 0px 1px 4px rgba(25, 33, 61, 0.08);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.statContent {
  width: 263.33px;
  height: 169px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  text-align: left;
}

.statNumber {
  width: 95px;
  height: 26px;
  font-family: Inter;
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0%;
  color: #ffffff;
}

.contentSpacer {
  width: 16px;
  height: 16px;
  opacity: 0;
}

.statContentHeading {
  width: 263.33px;
  height: 12px;
  font-family: Inter;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0%;
  color: #ffffff;
}

.statContentPara {
  width: 263.33px;
  height: 60px;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #ffffff;
  background: transparent;
}

.statContentLink {
  width: 109px;
  height: 15px;
  gap: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.statLinkItem {
  width: 88px;
  height: 12px;
  font-family: Inter;
  font-weight: 600;
  font-size: 16px;
  line-height: 12px;
  letter-spacing: 0%;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.statLinkArrow {
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.statLinkArrowRigth {
  width: 10.5px;
  height: 10.3px;
  color: #ffffff;
  font-size: 16px;
  line-height: 10.3px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -2px;
}

.statHeadingSpacerText,
.statSpacerText,
.statLinkSpacerText {
  font-family: Inter;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 8%;
  text-transform: uppercase;
  visibility: hidden;
}

.statLinkSpacerText {
  color: #ffffff;
}

.gallery {
  width: 1440px;
  height: 1029.15px;
  padding: 80px 167px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.galleryHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}

.headingTitle {
  font-family: Inter, sans-serif;
  font-weight: 800;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #6d758f;
  margin: 0 auto;
}

.galleryHeadSpacer {
  width: 24px;
  height: 24px;
  opacity: 0;
}

.galleryHeadSpacerText {
  width: 17px;
  height: 9px;
  top: 7px;
  left: 4px;
  font-family: Inter;
  font-weight: 600;
  font-size: 12px;

  line-height: 18px;
  letter-spacing: 8%;
  text-align: center;
  text-transform: uppercase;
  background: #6d758f;
}

.galleryHeadSpacerPx {
  width: 24;
  height: 24;
  border-width: 1px;
  background: #f1f3f7;
  border: 1px solid #6d758f;
}

.galleryHeadPara {
  width: 446px;
  height: 41px;
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  color: #6d758f;
}

.gallerySpacer {
  width: 48px;
  height: 48px;
  opacity: 0;
}

.gallerySpacerText {
  width: 17px;
  height: 9px;
  top: 19.5px;
  left: 16px;
  font-family: Inter;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 8%;
  text-align: center;
  text-transform: uppercase;
  background: #6d758f;
}

.gallerySpacerPx {
  width: 48;
  height: 48;
  border-width: 1px;
  background: #f1f3f7;
  border: 1px solid #6d758f;
}

.galleryPhotoGrid {
  width: 1105.919921875px;
  height: 730.1500244140625px;
  gap: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.imageColom1,
.imageColom2,
.imageColom3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 22px;
  margin: 0;
}

/* Specific widths and heights per column */
.imageColom1 {
  width: 353.9599914550781px;
  height: 729.9199829101562px;
}

.image1Colom1 {
  width: 353.9599914550781px;
  height: 353.9599914550781px;
  border-radius: 6px;
}

.imageColom2 {
  width: 354px;
  height: 730.1500244140625px;
}

.image1Colom2 {
  width: 354px;
  height: 477px;
  border-radius: 6px;
}

.image2Colom2 {
  width: 353.9599914550781px;
  height: 231.14999389648438px;
  border-radius: 6px;
}

.imageColom3 {
  width: 353.9599914550781px;
  height: 721.8499755859375px;
}

.image1Colom3 {
  width: 353.9599914550781px;
  height: 231.14999389648438px;
  border-radius: 6px;
}

.image2Colom3 {
  width: 353.9599914550781px;
  height: 468.70001220703125px;
  border-radius: 6px;
}

.testimonial {
  width: 1440px;
  height: 564px;
  padding-top: 100px;
  padding-right: 167px;
  padding-bottom: 100px;
  padding-left: 167px;
  background: #f1f3f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonialHeadings {
  width: 418.703125px;
  height: 86px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.testimonialHeadingsTitle {
  width: 374px;
  height: 26px;
  font-family: Inter;
  font-weight: 800;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: bottom;
  color: #6d758f;
}

.testimonialHeadingsSpecer {
  width: 24px;
  height: 24px;
  opacity: 0;
}

.testimonialHeadingsSpecerText {
  width: 24px;
  height: 24px;
  opacity: 0;
  font-family: Inter;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 8%;
  text-align: center;
  text-transform: uppercase;
  color: #6d758f;
}

.testimonialHeadingsSpecerPx {
  width: 24px;
  height: 24px;
  border-width: 1px;
  background: #f1f3f7;
  border: 1px solid #6d758f;
}

.testimonialHeadingsPara {
  width: 418.703125px;
  height: 36px;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  color: #6d758f;
}

.testimonialSpecer {
  width: 48px;
  height: 48px;
  opacity: 0;
}

.testimonialSpecerText {
  width: 17px;
  height: 9px;
  top: 19.5px;
  left: 16px;
  font-family: Inter;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 8%;
  text-align: center;
  text-transform: uppercase;
  color: #6d758f;
}

.testimonialSpecerPx {
  width: 48px;
  height: 48px;
  border-width: 1px;
  background: #f1f3f7;
  border: 1px solid #6d758f;
}

.membersRow {
  width: 1106px;
  height: 230px;
  gap: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonialV2 {
  width: 353px;
  height: auto;
  border-radius: 8px;
  padding-top: 24px;
  padding-right: 24px;
  padding-bottom: 27px;
  padding-left: 24px;
  gap: 10px;
  border-width: 1px;
  background: #ffffff;
  box-shadow: 0px 1px 4px 0px #19213d14;
  border: 1px solid #e1e4ed;
  box-shadow: 0px 1px 4px 0px #19213d14;
}

.testimonialContent {
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
}

.review {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
}

.filledStar {
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.star {
  width: 18px;
  height: 17.247568130493164px;
  border-radius: 0.5px;
  top: 3.31px;
  left: 123.35px;
  background: #b4b9c9;
}

.testimonialSpecerStar {
  width: 16px;
  height: 16px;
  opacity: 0;
}

.testimonialSpecerStarPx {
  width: 16px;
  height: 16px;
  border-width: 1px;
  left: 120.35px;
  background: #f1f3f7;
  border: 1px solid #6d758f;
}

.testimonialPara {
  width: 305px;
  height: 76px;
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  color: #6d758f;
}

.testimonialParaSpecer {
  width: 24px;
  height: 24px;
  opacity: 0;
}

.testimonialParaSpecerText {
  width: 17px;
  height: 9px;
  top: 7px;
  left: 124.35px;
  font-family: Inter;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 8%;
  text-align: center;
  text-transform: uppercase;
  background: #6d758f;
}

.testimonialParaSpecerPx {
  width: 24px;
  height: 24px;
  border-width: 1px;
  left: 120.35px;
  background: #f1f3f7;
  border: 1px solid #6d758f;
}

.testimonialInfo {
  width: auto;
  height: auto;
}

.infoSpacer {
  width: 8px;
  height: 8px;
  opacity: 0;
}

.infoSpacerPx {
  width: 8px;
  height: 8px;
  border-width: 1px;
  left: 120.35px;
  background: #f1f3f7;
  border: 1px solid #6d758f;
}

.infoTitleContainer {
  width: auto;
  height: auto;
}

.infoTitle {
  width: 79px;
  height: 12px;
  font-family: Inter;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0%;
  vertical-align: bottom;
  color: #6d758f;
}

.InfotitleSpacer {
  width: 16px;
  height: 16px;
  opacity: 0;
}

.InfotitleSpacerPx {
  width: 16px;
  height: 16px;
  border-width: 1px;
  left: 120.35px;
  background: #f1f3f7;
  border: 1px solid #6d758f;
}

.infoTitle2 {
  width: 110px;
  height: 10px;
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: bottom;
  color: #b4b9c9;
}

.contenCard {
  width: 1440px;
  height: auto;
  padding-top: 80px;
  padding-right: 167px;
  padding-bottom: 80px;
  padding-left: 167px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardHeading {
  width: 418.703125px;
  height: 86px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.cardHeadingTitle {
  width: 348px;
  height: 26px;
  font-family: Inter;
  font-weight: 800;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: bottom;
  color: #6d758f;
}

.cardHeadingSpacer {
  width: 24px;
  height: 24px;
  opacity: 0;
}

.cardHeadingSpacerText {
  width: 17px;
  height: 9px;
  top: 7px;
  left: 4px;
  font-family: Inter;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 8%;
  text-align: center;
  text-transform: uppercase;
  background: #6d758f;
}

.cardHeadingSpacerPx {
  width: 24px;
  height: 24px;
  border-width: 1px;
  background: #f1f3f7;
  border: 1px solid #6d758f;
}

.cardHeadingPara {
  width: 418.703125px;
  height: 36px;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  color: #6d758f;
}

.contentCardSpacer {
  width: 48px;
  height: 48px;
  opacity: 0;
}

.contentCardSpacerText {
  width: 17px;
  height: 9px;
  top: 19.5px;
  left: 16px;
  font-family: Inter;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 8%;
  text-align: center;
  text-transform: uppercase;
  background: #6d758f;
}

.contentCardSpacerPx {
  width: 48px;
  height: 48px;
  border-width: 1px;
  background: #f1f3f7;
  border: 1px solid #6d758f;
}

.cardsRow {
  width: auto;
  height: auto;
  gap: 22px;
  display: flex;
  align-items: center;
  justify-items: center;
}

.masterContent {
  width: auto;
  height: auto;
  border-radius: 8px;
  border-width: 1px;
  background: #ffffff;
  border: 1px solid #e1e4ed;
  box-shadow: 0px 1px 4px 0px #19213d14;
}

.masterContentImage {
  width: 353.20001220703125px;
  height: 239.72000122070312px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.masterImageSpacer {
  width: 32px;
  height: 32px;
  opacity: 0;
}

.masterImageSpacerText {
  width: 17px;
  height: 9px;
  top: 11.5px;
  left: 8px;
  font-family: Inter;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 8%;
  text-align: center;
  text-transform: uppercase;
  background: #6d758f;
}

.masterImageSpacerPx {
  width: 32px;
  height: 32px;
  border-width: 1px;
  background: #f1f3f7;
  border: 1px solid #6d758f;
}

.masterTextContent {
  width: 292.274658203125px;
  height: auto;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  gap: 10px;
}

.contentTitle {
  width: 245.69091796875px;
  height: 15px;
  font-family: Inter;
  font-weight: 800;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #6d758f;
}

.contentTitleSpacer {
  width: 24px;
  height: 24px;
  opacity: 0;
}

.contentTitleSpacerText {
  width: 17px;
  height: 9px;
  top: 7px;
  left: 4px;
  font-family: Inter;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 8%;
  text-align: center;
  text-transform: uppercase;
  background: #6d758f;
}

.contentTitleSpacerPx {
  width: 24px;
  height: 24px;
  border-width: 1px;
  background: #f1f3f7;
  border: 1px solid #6d758f;
}

.masterTextContentPara {
  width: 292.274658203125px;
  height: 32px;
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  color: #6d758f;
}

.cardRowSpacer {
  width: 24px;
  height: 24px;
  opacity: 0;
}

.cardRowSpacerText {
  width: 17px;
  height: 9px;
  top: 7px;
  left: 4px;
  font-family: Inter;
  font-weight: 600;
  font-size: 12px;
  leading-trim: Cap height;
  line-height: 18px;
  letter-spacing: 8%;
  text-align: center;
  text-transform: uppercase;
  background: #6d758f;
}

.cardRowSpacerPx {
  width: 24px;
  height: 24px;
  border-width: 1px;
  background: #f1f3f7;
  border: 1px solid #6d758f;
}

.footer {
  width: 1440px;
  height: 385px;
  padding-top: 48px;
  padding-right: 167px;
  padding-bottom: 48px;
  padding-left: 167px;
  gap: 48px;
  background: #6d758f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footerColum {
  width: 1163px;
  height: 172px;
  gap: 48px;
  display: flex;
  align-items: top;
  justify-content: top;
}

.footerMenu {
  width: 254.75px;
  height: 172px;
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.footerMenuTitle {
  width: 100px;
  height: 44px;
  padding-top: 12px;
  padding-bottom: 12px;
  gap: 8px;
}

.menuTitle {
  width: 100px;
  height: 20px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 18px;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  color: #ffffff;
}

.footerMenuItem {
  width: 85px;
  height: 16px;
  gap: 8px;
  display: flex;
}

.menuItem {
  width: 85px;
  height: 16px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
}

.iconMenu {
  width: 254.75px;
  height: 76px;
  display: flex;
  gap: 24px;
}

.iconButton {
  width: 426.6666564941406px;
  height: 76px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.iconMenuList {
  width: 61px;
  height: 44px;
  padding-top: 12px;
  padding-bottom: 12px;
  gap: 8px;
}

.iconTitle {
  width: 61px;
  height: 20px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 18px;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  color: #ffffff;
}

.socialIcons {
  width: 426.6666564941406px;
  height: 24px;
  gap: 16px;
  display: flex;
}

.iconContainer {
  width: 24px;
  height: 24px;
}

.iconVector {
  width: 19.957000732421875px;
  height: 13.968000411987305px;
  top: 4.61px;
  left: 2px;
  color: #ffffff;
}

.footerLine {
  width: 1106px;
  height: 1px;
  background: #c1c7cd;
}

.footerBottom {
  width: 1106px;
  height: 20px;
  gap: 48px;
}

.footerEnding {
  width: 272px;
  height: 20px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0%;
  color: #ffffff;
}
